<a href="https://colab.research.google.com/github/spentaur/DS-Unit-2-Regression-Classification/blob/master/module2/final_assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Do the [Plotly Dash](https://dash.plot.ly/) Tutorial, Parts 1 & 2.
- [ ] Add your own stretch goal(s) !

# Here's the game plan

1. make function that adds features
 1. part of that is assigning neighborhood values
  1. the way i'm going to do that is i'm going to kmeans classify on training data. then use those labels to do kneighborsclassifier to predict those labels.
  1. the reason i'm doing it this way is becuase i want to make sure the predicted label matches up with the fact that i'm chaning the labels order. if that makes sense. i don't know if there's a better way to do it but i'm sure there is.
1. now that i have that function, i can make another function that takes in the raw untouched dataframe, splits into training and testing, and returns my scores and my trained model.

In [1]:
# If you're in Colab...
import os, sys
in_colab = 'google.colab' in sys.modules

if in_colab:
    # Install required python packages:
    # pandas-profiling, version >= 2.0
    # plotly, version >= 4.0
    !pip install --upgrade pandas-profiling plotly
    
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Change into directory for module
    os.chdir('module1')

Requirement already up-to-date: pandas-profiling in /usr/local/lib/python3.6/dist-packages (2.3.0)
Requirement already up-to-date: plotly in /usr/local/lib/python3.6/dist-packages (4.1.1)
Requirement already satisfied, skipping upgrade: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.4.2)
Requirement already satisfied, skipping upgrade: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.24.2)
Requirement already satisfied, skipping upgrade: astropy in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (3.0.5)
Requirement already satisfied, skipping upgrade: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (3.0.3)
Requirement already satisfied, skipping upgrade: htmlmin>=0.1.12 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied, skipping upgrade: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (2.10.1)
Requirement already satisfied, skipping upgrade: confuse>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (1.0.0)
Requirement already satisfied, skipping upgrade: phik>=0.9.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.9.8)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.12.0)
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Requirement already satisfied, skipping upgrade: seaborn in /usr/local/lib/python3.6/dist-packages (from missingno>=0.4.2->pandas-profiling) (0.9.0)
Requirement already satisfied, skipping upgrade: scipy in /usr/local/lib/python3.6/dist-packages (from missingno>=0.4.2->pandas-profiling) (1.3.1)
Requirement already satisfied, skipping upgrade: numpy in /usr/local/lib/python3.6/dist-packages (from missingno>=0.4.2->pandas-profiling) (1.16.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (2.5.3)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (2018.9)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.10.0)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.4.2)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.1.0)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas-profiling) (1.1.1)
Requirement already satisfied, skipping upgrade: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling) (3.13)
Requirement already satisfied, skipping upgrade: pytest>=4.0.2 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (5.1.2)
Requirement already satisfied, skipping upgrade: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (0.40.1)
Requirement already satisfied, skipping upgrade: pytest-pylint>=0.13.0 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (0.14.1)
Requirement already satisfied, skipping upgrade: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (5.6.0)
Requirement already satisfied, skipping upgrade: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (5.3.1)
Requirement already satisfied, skipping upgrade: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling) (41.2.0)
Requirement already satisfied, skipping upgrade: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (1.3.0)
Requirement already satisfied, skipping upgrade: pluggy<1.0,>=0.12 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.12.0)
Requirement already satisfied, skipping upgrade: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (19.1.0)
Requirement already satisfied, skipping upgrade: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (7.2.0)
Requirement already satisfied, skipping upgrade: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.20)
Requirement already satisfied, skipping upgrade: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.1.7)
Requirement already satisfied, skipping upgrade: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (19.1)
Requirement already satisfied, skipping upgrade: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (1.8.0)
Requirement already satisfied, skipping upgrade: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.9.8->pandas-profiling) (0.29.0)
Requirement already satisfied, skipping upgrade: pylint>=1.4.5 in /usr/local/lib/python3.6/dist-packages (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (2.3.1)
Requirement already satisfied, skipping upgrade: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.8.4)
Requirement already satisfied, skipping upgrade: pygments in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (2.1.3)
Requirement already satisfied, skipping upgrade: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.4.2)
Requirement already satisfied, skipping upgrade: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.5.0)
Requirement already satisfied, skipping upgrade: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.6.0)
Requirement already satisfied, skipping upgrade: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.3.2)
Requirement already satisfied, skipping upgrade: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (3.1.0)
Requirement already satisfied, skipping upgrade: nbformat>=4.4 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.4.0)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (1.4.2)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.3)
Requirement already satisfied, skipping upgrade: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (17.0.0)
Requirement already satisfied, skipping upgrade: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (4.5.3)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.6.0)
Requirement already satisfied, skipping upgrade: mccabe<0.7,>=0.6 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (0.6.1)
Requirement already satisfied, skipping upgrade: astroid<3,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (2.2.5)
Requirement already satisfied, skipping upgrade: isort<5,>=4.2.5 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (4.3.21)
Requirement already satisfied, skipping upgrade: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.2.0)
Requirement already satisfied, skipping upgrade: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.4.0)
Requirement already satisfied, skipping upgrade: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.5.1)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (2.6.0)
Requirement already satisfied, skipping upgrade: lazy-object-proxy in /usr/local/lib/python3.6/dist-packages (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (1.4.2)
Requirement already satisfied, skipping upgrade: wrapt in /usr/local/lib/python3.6/dist-packages (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (1.11.2)
Requirement already satisfied, skipping upgrade: typed-ast>=1.3.0; implementation_name == "cpython" in /usr/local/lib/python3.6/dist-packages (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (1.4.0)
Reinitialized existing Git repository in /content/.git/
fatal: remote origin already exists.
From https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification
 * branch            master     -> FETCH_HEAD
Already up to date.

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

# Import all the library functions

In [0]:
from sklearn.cluster import KMeans, MiniBatchKMeans
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

# Import the DataFrame and remove top .1% of price and geo

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv('../data/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

# Change created to datetime

In [0]:
df['created'] = pd.to_datetime(df['created'])

# Check to make sure i'm splitting the data up right

In [6]:
df['created'].dt.month.value_counts()

6    16973
4    16217
5    15627
Name: created, dtype: int64

In [0]:
july = df['created'].dt.month.value_counts()[6]
mayjune = df['created'].dt.month.value_counts()[5] + df['created'].dt.month.value_counts()[4]

In [8]:
mayjune+july, mayjune, july

(48817, 31844, 16973)

In [9]:
april = '2016-04'
june = '2016-06'

train = df[(df['created'] > april) & (df['created'] < june)].copy()
test = df[(df['created'] > june)].copy()

print(len(df), len(train), len(test))

48817 31844 16973

# drop target column, so i can't accidently put it in

In [0]:
train_target = train['price']

test_target = test['price']
test.drop('price', axis=1, inplace=True)

# Add some features

In [0]:
# kmeans_features = ['latitude', 'longitude', 'roof_deck']

kmeans_features = ['latitude', 'longitude']

In [0]:
def add_neighborhoods(train, number_of_clusters=50):
    new_labels = list(range(1,number_of_clusters + 1))

    kmeans = MiniBatchKMeans(n_clusters=number_of_clusters, batch_size=1993, max_iter=10000).fit(train[kmeans_features])

    labels = kmeans.labels_

    # assig those labels to the dataframe
    # i'm adding 1 because labels start at 0, and i don't want that for my other
    # stuff, it'll mess with the math i believe
    train['neighborhood'] = labels + 1

    # i have to make sure that the labels go up with price
    # so i'm grouping by neighborhood, sorting by mean price and getting the
    # neighborhood values
    old_labels = train.groupby('neighborhood')['price'].mean().sort_values().index

    # now i'm mapping neighborhoods in order
    train['neighborhood'] = train['neighborhood'].map(dict(zip(old_labels, new_labels)))

In [0]:
# this is the model that was trained on the trainng data

def train_neighborhoods_model(train):

    # now that i have labels i need to make a model to predict those specific labels
    
    clf = KNeighborsClassifier(n_neighbors=1)
    clf.fit(train[kmeans_features], train['neighborhood'])

    return clf

In [0]:
def predic_neighborhoods(data):
    return trained_neighborhood_model.predict(data[kmeans_features])

In [0]:
def add_new_features(data, neighborhoods=True):

    data['total_rooms'] = data.loc[:, ['bedrooms', 'bathrooms']].sum(axis=1)

    data['bed_bath_ratio'] = data['bedrooms'] / data['bathrooms']

    data['interest_level_code'] = data['interest_level'].map({'low': 0, 'medium': 1, 'high': 2})

    data['pets_allowed'] = (data.loc[:, ['cats_allowed', 'dogs_allowed']].sum(axis=1) > 0).astype('int8')

    rich_keywords = ['views',
                 'manhattan',
                 'penthouse',]

    rich_pattern = '|'.join(rich_keywords)

    rich_special_keywords = data['description'].str.contains(rich_pattern)
    rich_special_keywords.fillna(False, inplace=True)
    data['manhattan_views'] = rich_special_keywords.astype('int64')

    parking_special_keywords = data['description'].str.contains('parking')
    parking_special_keywords.fillna(False, inplace=True)
    data['parking'] = parking_special_keywords.astype('int64')

    central_park_special_keywords = data['description'].str.contains('(?i)central park')
    central_park_special_keywords.fillna(False, inplace=True)
    data['central_park'] = central_park_special_keywords.astype('int64')

    data['total_perks'] = data.loc[:, 'elevator':'central_park'].sum(axis=1)

    data['description_len'] = data['description'].str.len()

    data.fillna(value=0, inplace=True)
    data.replace(np.inf, 0, inplace=True)

    if neighborhoods:
        print("You're changing the neighborhood columns by prediction.")
        data['neighborhood'] = predic_neighborhoods(data)
    
    return data

In [16]:
add_neighborhoods(train)
add_new_features(train, False)

       bathrooms  bedrooms  ... total_perks description_len
2            1.0         1  ...   53.000000           691.0
3            1.0         1  ...   39.000000           492.0
4            1.0         4  ...   19.000000           479.0
5            2.0         4  ...   54.000000             8.0
6            1.0         2  ...   40.000000           579.0
7            2.0         1  ...   58.500000           948.0
8            1.0         1  ...   18.000000            24.0
9            2.0         4  ...   43.000000          1052.0
10           1.0         0  ...   24.000000           168.0
12           1.0         2  ...   45.000000           697.0
13           2.0         2  ...   64.000000           561.0
15           1.0         0  ...   41.000000           488.0
16           1.0         2  ...   39.000000           345.0
17           1.0         1  ...    7.000000          1239.0
18           1.0         4  ...   44.000000             8.0
19           1.0         1  ...   54.000000             8.0
20           1.0         3  ...   46.000000           981.0
21           1.0         2  ...   44.000000           280.0
22           1.0         1  ...   41.000000             8.0
23           1.0         1  ...   51.000000           911.0
25           3.5         4  ...   54.642857           773.0
26           1.0         1  ...   37.000000           419.0
27           1.0         1  ...   55.000000           724.0
29           2.0         2  ...   42.000000           385.0
30           1.0         0  ...   56.000000          1349.0
31           1.0         2  ...   66.000000           847.0
32           1.0         1  ...   61.000000           294.0
33           1.0         2  ...   52.000000           438.0
35           1.0         1  ...   27.000000           876.0
37           1.0         0  ...   43.000000           853.0
...          ...       ...  ...         ...             ...
49319        1.0         2  ...   48.000000           764.0
49321        2.0         2  ...   65.000000           360.0
49322        1.0         1  ...   35.000000           544.0
49323        1.0         1  ...   40.000000             0.0
49324        1.0         0  ...   40.000000           704.0
49325        1.0         2  ...   13.000000           430.0
49326        2.0         2  ...   57.000000           498.0
49327        1.0         1  ...   40.000000           734.0
49328        1.0         1  ...   47.000000           174.0
49329        1.0         2  ...   56.000000           656.0
49330        1.0         1  ...   36.000000           685.0
49331        1.5         0  ...   28.500000           335.0
49333        1.0         1  ...   43.000000          1344.0
49334        2.0         2  ...   51.000000           383.0
49335        1.0         1  ...   46.000000           449.0
49336        2.0         3  ...   44.500000           697.0
49337        1.0         0  ...   35.000000           640.0
49338        2.0         3  ...   38.500000           641.0
49339        1.0         3  ...   56.000000           720.0
49340        1.0         1  ...   21.000000             8.0
49341        1.0         0  ...   50.000000           574.0
49342        1.0         1  ...   47.000000           730.0
49343        1.0         1  ...   37.000000           350.0
49344        1.0         1  ...   50.000000           292.0
49345        1.0         1  ...   51.000000           647.0
49346        1.0         1  ...   52.000000           395.0
49348        1.0         1  ...   41.000000          1125.0
49349        1.0         1  ...   34.000000           671.0
49350        1.0         0  ...   46.000000           735.0
49351        1.0         2  ...   10.000000           799.0

[31844 rows x 44 columns]

In [17]:
train.columns

Index(['bathrooms', 'bedrooms', 'created', 'description', 'display_address',
       'latitude', 'longitude', 'price', 'street_address', 'interest_level',
       'elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
       'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
       'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
       'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
       'swimming_pool', 'new_construction', 'terrace', 'exclusive', 'loft',
       'garden_patio', 'wheelchair_access', 'common_outdoor_space',
       'neighborhood', 'total_rooms', 'bed_bath_ratio', 'interest_level_code',
       'pets_allowed', 'manhattan_views', 'parking', 'central_park',
       'total_perks', 'description_len'],
      dtype='object')

In [18]:
df.columns

Index(['bathrooms', 'bedrooms', 'created', 'description', 'display_address',
       'latitude', 'longitude', 'price', 'street_address', 'interest_level',
       'elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
       'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
       'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
       'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
       'swimming_pool', 'new_construction', 'terrace', 'exclusive', 'loft',
       'garden_patio', 'wheelchair_access', 'common_outdoor_space'],
      dtype='object')

# Define function to get fitted model and errors

In [0]:
def fit_model(train, features, target, **kwargs):

    model = LinearRegression()

    X = train[features]
    y = target

    reg = model.fit(X,y)

    return model

def get_errors(y_true, y_pred):

    rmse = mean_squared_error(y_true, y_pred)**.5

    mae = mean_absolute_error(y_true, y_pred)

    return {
        'rmse': rmse,
        'mae': mae
    }

def predict_and_error(data, features, target, model):

    pred = model.predict(data[features])

    errors = get_errors(target, pred)

    errors['r2'] = model.score(data[features], target)

    return errors

# Test it out, get some baselines

In [0]:
features_with_geo = np.append(train.columns.values[10:], ['bedrooms', 'bathrooms', 'latitude', 'longitude'])
features_without_geo = np.append(train.columns.values[10:], ['bedrooms', 'bathrooms'])

In [21]:
features_with_geo

array(['elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
       'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
       'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
       'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
       'swimming_pool', 'new_construction', 'terrace', 'exclusive',
       'loft', 'garden_patio', 'wheelchair_access',
       'common_outdoor_space', 'neighborhood', 'total_rooms',
       'bed_bath_ratio', 'interest_level_code', 'pets_allowed',
       'manhattan_views', 'parking', 'central_park', 'total_perks',
       'description_len', 'bedrooms', 'bathrooms', 'latitude',
       'longitude'], dtype=object)

In [22]:
model = fit_model(train, features_with_geo, train_target)

train_true = train_target

train_pred = model.predict(train[features_with_geo])

get_errors(train_true, train_pred)

{'mae': 618.678532432344, 'rmse': 994.1276171637836}

In [23]:
model = fit_model(train, features_without_geo, train_target)

train_true = train_target

train_pred = model.predict(train[features_without_geo])

get_errors(train_true, train_pred)

{'mae': 619.5424235449724, 'rmse': 994.7504508145051}

In [24]:
mean_price = df['price'].mean()

guess_mean = [mean_price] * len(df)

get_errors(df['price'], guess_mean)

{'mae': 1201.532252154329, 'rmse': 1762.4127206231178}

# Already better than just guessing

# Okay problems i see

the function is taking a really long time because it's doing so much. maybe i should take out the feature engineering stuff and just pass that function in the training and testing models. another problem is with the kmeans, it's random so it's unpredictable, i need to run it a bunch of times and then just get the best one ya know.

what this is doing is getting the best trained_neighborhood_model

In [25]:
import time
best = {}

begin = time.time()

for num in range(314):

    start = time.time()

    add_neighborhoods(train)

    features = features_with_geo

    model = fit_model(train, features, train_target)

    train_true = train_target

    train_pred = model.predict(train[features_with_geo])

    result = get_errors(train_true, train_pred)

    best[result['mae']] = result
    best[result['mae']]['labels'] = train['neighborhood'].values

    print(num, result['mae'], sorted(best)[0], time.time() - start)

print(sorted(best)[0])
time.time() - begin

0 625.3550420308761 625.3550420308761 0.38170957565307617
1 627.6353590266623 625.3550420308761 0.37249302864074707
2 627.892470977498 625.3550420308761 0.46546220779418945
3 624.055184013536 624.055184013536 0.360431432723999
4 625.9052703748722 624.055184013536 0.32292723655700684
5 625.4132915661745 624.055184013536 0.4171028137207031
6 625.5097928255609 624.055184013536 0.34049010276794434
7 627.1830329773381 624.055184013536 0.40291738510131836
8 626.817436585882 624.055184013536 0.3648216724395752
9 624.276412196298 624.055184013536 0.3864560127258301
10 625.5524904688336 624.055184013536 0.4771695137023926
11 627.2302616687783 624.055184013536 0.32257604598999023
12 624.5542339373426 624.055184013536 0.3708984851837158
13 628.4188272127902 624.055184013536 0.31928086280822754
14 627.4482400980887 624.055184013536 0.4309849739074707
15 627.5408211506062 624.055184013536 0.43491554260253906
16 627.0249082339562 624.055184013536 0.4741332530975342
17 628.0217270732343 624.055184013536 0.38848042488098145
18 628.2902872267999 624.055184013536 0.3423125743865967
19 626.7835715793185 624.055184013536 0.3593564033508301
20 623.1446419839915 623.1446419839915 0.3855125904083252
21 623.2308584066375 623.1446419839915 0.37361931800842285
22 627.9809025191499 623.1446419839915 0.3916456699371338
23 625.4845816345057 623.1446419839915 0.3414316177368164
24 627.3464924152875 623.1446419839915 0.3526911735534668
25 626.4986245173733 623.1446419839915 0.3326411247253418
26 625.4953535978847 623.1446419839915 0.40651369094848633
27 626.8026441883985 623.1446419839915 0.3904597759246826
28 625.1627173335929 623.1446419839915 0.32128000259399414
29 628.5850487581133 623.1446419839915 0.3264639377593994
30 625.4615902795607 623.1446419839915 0.3675055503845215
31 626.2479055931286 623.1446419839915 0.3963809013366699
32 627.3610723191106 623.1446419839915 0.3242645263671875
33 627.9792354309396 623.1446419839915 0.36568427085876465
34 625.8118014083714 623.1446419839915 0.43255114555358887
35 624.8428488508578 623.1446419839915 0.3228476047515869
36 626.6365410766215 623.1446419839915 0.3996288776397705
37 627.5913978298063 623.1446419839915 0.39896440505981445
38 627.6645489888746 623.1446419839915 0.3724541664123535
39 626.7936142358233 623.1446419839915 0.4400923252105713
40 626.8086524082875 623.1446419839915 0.3666222095489502
41 624.2415819823303 623.1446419839915 0.3769240379333496
42 625.4068062631718 623.1446419839915 0.3525230884552002
43 626.4054922017016 623.1446419839915 0.4783165454864502
44 626.0273882909707 623.1446419839915 0.340116024017334
45 626.4565059469921 623.1446419839915 0.45502638816833496
46 628.682584266268 623.1446419839915 0.3310699462890625
47 628.4108088397551 623.1446419839915 0.4638981819152832
48 626.0813520735717 623.1446419839915 0.3817453384399414
49 628.3316922956843 623.1446419839915 0.3877406120300293
50 624.6984364707605 623.1446419839915 0.41782569885253906
51 627.5349002950248 623.1446419839915 0.41027379035949707
52 622.3996802334794 622.3996802334794 0.3310098648071289
53 625.1012604115331 622.3996802334794 0.40989160537719727
54 627.3517198954953 622.3996802334794 0.43081021308898926
55 624.0143581900085 622.3996802334794 0.3778798580169678
56 626.1857805563112 622.3996802334794 0.3362739086151123
57 622.1709324116582 622.1709324116582 0.37515854835510254
58 626.4960281871943 622.1709324116582 0.3302640914916992
59 625.6607724943105 622.1709324116582 0.3852212429046631
60 624.3184959982435 622.1709324116582 0.39969468116760254
61 626.5844351541122 622.1709324116582 0.3931393623352051
62 626.3753598826205 622.1709324116582 0.39980435371398926
63 624.9536742873573 622.1709324116582 0.4116373062133789
64 627.1112610771052 622.1709324116582 0.4855649471282959
65 625.9880494263003 622.1709324116582 0.40254831314086914
66 624.7569718613662 622.1709324116582 0.33479762077331543
67 626.6374871968294 622.1709324116582 0.3617711067199707
68 627.2094712830152 622.1709324116582 0.38413047790527344
69 626.728221837076 622.1709324116582 0.38202595710754395
70 626.0090094544138 622.1709324116582 0.3396942615509033
71 625.8672356935757 622.1709324116582 0.3533799648284912
72 624.3606219981367 622.1709324116582 0.40245580673217773
73 625.4119359038793 622.1709324116582 0.4551236629486084
74 625.2137704736609 622.1709324116582 0.3704657554626465
75 626.6980236641089 622.1709324116582 0.3968393802642822
76 626.5146787791757 622.1709324116582 0.47562551498413086
77 624.9205264671631 622.1709324116582 0.4207303524017334
78 624.6947828258816 622.1709324116582 0.4739546775817871
79 626.2353975143643 622.1709324116582 0.33626317977905273
80 624.2826612387249 622.1709324116582 0.37946200370788574
81 625.4139558757287 622.1709324116582 0.38670802116394043
82 625.5761427517821 622.1709324116582 0.377227783203125
83 623.2595218620701 622.1709324116582 0.4092385768890381
84 627.1052537709161 622.1709324116582 0.38918042182922363
85 625.3855143057508 622.1709324116582 0.4021425247192383
86 624.1581298725079 622.1709324116582 0.3379378318786621
87 624.6905677059066 622.1709324116582 0.422870397567749
88 625.9706919325833 622.1709324116582 0.32619190216064453
89 627.0937717908083 622.1709324116582 0.40684032440185547
90 623.9080984629197 622.1709324116582 0.3827483654022217
91 626.6649371787198 622.1709324116582 0.34017372131347656
92 626.8718780832048 622.1709324116582 0.33774256706237793
93 627.6386373784386 622.1709324116582 0.33185863494873047
94 627.0008232748168 622.1709324116582 0.3318605422973633
95 625.4152081388714 622.1709324116582 0.35660409927368164
96 624.1612531421878 622.1709324116582 0.3439185619354248
97 625.17846292376 622.1709324116582 0.547379732131958
98 627.1326694239585 622.1709324116582 0.3882579803466797
99 624.8143491221412 622.1709324116582 0.35345888137817383
100 625.4425935973338 622.1709324116582 0.48647165298461914
101 627.123405657317 622.1709324116582 0.4144730567932129
102 624.5839087590566 622.1709324116582 0.42696070671081543
103 627.2685926671761 622.1709324116582 0.3880009651184082
104 625.1835261511226 622.1709324116582 0.3631746768951416
105 624.9006855147479 622.1709324116582 0.34462928771972656
106 624.5885271462089 622.1709324116582 0.45465588569641113
107 625.645996943093 622.1709324116582 0.36784815788269043
108 626.5541345873387 622.1709324116582 0.3428199291229248
109 627.6760611500554 622.1709324116582 0.417081356048584
110 625.4323277826817 622.1709324116582 0.3770427703857422
111 625.2666983527539 622.1709324116582 0.44774484634399414
112 626.4515750047101 622.1709324116582 0.4152841567993164
113 627.1861677108167 622.1709324116582 0.3784911632537842
114 626.8603215547794 622.1709324116582 0.40073060989379883
115 625.379237871553 622.1709324116582 0.49443721771240234
116 627.5822973503199 622.1709324116582 0.4392228126525879
117 626.2900384929378 622.1709324116582 0.38833141326904297
118 628.1188231898567 622.1709324116582 0.3315153121948242
119 626.1954904052178 622.1709324116582 0.3964667320251465
120 627.9623764743206 622.1709324116582 0.34960103034973145
121 626.5612216432207 622.1709324116582 0.3473474979400635
122 627.9362455923751 622.1709324116582 0.3980677127838135
123 626.729907827126 622.1709324116582 0.35911011695861816
124 627.2368137745623 622.1709324116582 0.3672494888305664
125 627.4742558911973 622.1709324116582 0.39119410514831543
126 628.2628960109367 622.1709324116582 0.33252477645874023
127 625.9352681220408 622.1709324116582 0.3352372646331787
128 623.8389229304848 622.1709324116582 0.318401575088501
129 628.0794403932058 622.1709324116582 0.3587319850921631
130 624.6301614028023 622.1709324116582 0.43203139305114746
131 628.1493048757268 622.1709324116582 0.330096960067749
132 627.3776061841978 622.1709324116582 0.337174654006958
133 626.1854914775421 622.1709324116582 0.39141845703125
134 625.2270340310956 622.1709324116582 0.5180215835571289
135 625.5669501258066 622.1709324116582 0.3697483539581299
136 625.2691285313224 622.1709324116582 0.43167877197265625
137 624.7676301185945 622.1709324116582 0.3314962387084961
138 626.6002687875501 622.1709324116582 0.3715336322784424
139 623.905505438991 622.1709324116582 0.36986422538757324
140 626.6642950081086 622.1709324116582 0.3898355960845947
141 624.3757829604474 622.1709324116582 0.35454440116882324
142 626.8647055133088 622.1709324116582 0.34524083137512207
143 628.4145553829342 622.1709324116582 0.4200248718261719
144 628.5268363951488 622.1709324116582 0.5356297492980957
145 627.6743485931116 622.1709324116582 0.4044520854949951
146 626.0606659396536 622.1709324116582 0.4591183662414551
147 626.4683900087349 622.1709324116582 0.3585343360900879
148 625.620251493369 622.1709324116582 0.4109044075012207
149 627.2714549219944 622.1709324116582 0.3965153694152832
150 626.1349309126482 622.1709324116582 0.3838973045349121
151 625.9859893471296 622.1709324116582 0.4258127212524414
152 625.2715702232713 622.1709324116582 0.4140615463256836
153 626.0825119916981 622.1709324116582 0.3587501049041748
154 625.7254688118087 622.1709324116582 0.324312686920166
155 626.4479813657022 622.1709324116582 0.43309497833251953
156 623.0780210002944 622.1709324116582 0.3601844310760498
157 625.2148233348673 622.1709324116582 0.40122079849243164
158 627.2943783564849 622.1709324116582 0.3800652027130127
159 627.4342960680584 622.1709324116582 0.32728099822998047
160 624.716428195249 622.1709324116582 0.41788673400878906
161 626.331826211634 622.1709324116582 0.3251926898956299
162 626.994714087997 622.1709324116582 0.3594532012939453
163 628.1914716905329 622.1709324116582 0.4057505130767822
164 627.4568998406452 622.1709324116582 0.42743539810180664
165 624.1102630909317 622.1709324116582 0.41480231285095215
166 625.3028053417839 622.1709324116582 0.3771998882293701
167 624.6292967992534 622.1709324116582 0.3936910629272461
168 626.9068796780508 622.1709324116582 0.4449808597564697
169 624.8858412054452 622.1709324116582 0.4109652042388916
170 628.3035533546457 622.1709324116582 0.36403679847717285
171 625.5554235080335 622.1709324116582 0.3847332000732422
172 625.7955180835369 622.1709324116582 0.3590199947357178
173 625.0979491468773 622.1709324116582 0.39585185050964355
174 625.4526385918758 622.1709324116582 0.3771944046020508
175 624.2592645123098 622.1709324116582 0.38758301734924316
176 628.0255294389857 622.1709324116582 0.3272213935852051
177 628.4435905584767 622.1709324116582 0.32718634605407715
178 629.847223817449 622.1709324116582 0.34465789794921875
179 625.7605181969857 622.1709324116582 0.32077717781066895
180 627.5275175965306 622.1709324116582 0.3752317428588867
181 625.4418404060316 622.1709324116582 0.3859672546386719
182 624.1105421128767 622.1709324116582 0.3277735710144043
183 625.673683524596 622.1709324116582 0.48616456985473633
184 627.7932937002577 622.1709324116582 0.36316847801208496
185 623.5888587133097 622.1709324116582 0.3521912097930908
186 626.3913151357885 622.1709324116582 0.37180566787719727
187 623.2482401579525 622.1709324116582 0.3717925548553467
188 625.6302002507224 622.1709324116582 0.3528251647949219
189 625.3053703218496 622.1709324116582 0.35250234603881836
190 625.3348484675244 622.1709324116582 0.32312965393066406
191 624.0046401939419 622.1709324116582 0.3728041648864746
192 627.1241898070108 622.1709324116582 0.3575592041015625
193 625.2620020840675 622.1709324116582 0.3261275291442871
194 625.7412868420822 622.1709324116582 0.3215620517730713
195 625.4935520672201 622.1709324116582 0.3586397171020508
196 627.4127769447867 622.1709324116582 0.3743560314178467
197 625.8155078695664 622.1709324116582 0.42888522148132324
198 624.928660668256 622.1709324116582 0.34183621406555176
199 627.1000411934573 622.1709324116582 0.3683347702026367
200 626.1597039828359 622.1709324116582 0.3620588779449463
201 626.1250283444473 622.1709324116582 0.4590597152709961
202 625.6789747492319 622.1709324116582 0.3792152404785156
203 627.7464698210318 622.1709324116582 0.3782501220703125
204 625.8287631665071 622.1709324116582 0.33052706718444824
205 627.1796503974903 622.1709324116582 0.3297915458679199
206 628.0174285365348 622.1709324116582 0.3314828872680664
207 625.3873014650425 622.1709324116582 0.4391794204711914
208 627.8085388489051 622.1709324116582 0.4536597728729248
209 625.0806278255617 622.1709324116582 0.39479970932006836
210 626.964504008443 622.1709324116582 0.3237183094024658
211 627.1992529234926 622.1709324116582 0.4000699520111084
212 627.7984749790622 622.1709324116582 0.37428808212280273
213 627.7581879764023 622.1709324116582 0.46231675148010254
214 627.7779806482105 622.1709324116582 0.4234428405761719
215 626.2271578011687 622.1709324116582 0.37609052658081055
216 626.1995190845392 622.1709324116582 0.44681692123413086
217 626.7407912672923 622.1709324116582 0.3192272186279297
218 626.7336660166429 622.1709324116582 0.4128561019897461
219 626.8768837107547 622.1709324116582 0.32692837715148926
220 627.1072414380394 622.1709324116582 0.3169698715209961
221 626.1711583278759 622.1709324116582 0.44249606132507324
222 623.4654145384386 622.1709324116582 0.4103872776031494
223 625.5464276165195 622.1709324116582 0.40444493293762207
224 624.1878630470601 622.1709324116582 0.38755273818969727
225 627.0401612982383 622.1709324116582 0.31871891021728516
226 626.7476593868038 622.1709324116582 0.3329014778137207
227 622.7414782719547 622.1709324116582 0.33541393280029297
228 626.6456682781997 622.1709324116582 0.380429744720459
229 625.2422504530172 622.1709324116582 0.31842923164367676
230 627.1448920301048 622.1709324116582 0.34657835960388184
231 624.5362255360387 622.1709324116582 0.4178614616394043
232 626.4451183977708 622.1709324116582 0.3208904266357422
233 624.8688989005416 622.1709324116582 0.39699649810791016
234 623.7143447707953 622.1709324116582 0.326915979385376
235 626.2440654101852 622.1709324116582 0.3170609474182129
236 626.7877325705248 622.1709324116582 0.3355727195739746
237 625.2314523845732 622.1709324116582 0.4061927795410156
238 626.6365556186438 622.1709324116582 0.3170809745788574
239 627.9106890297325 622.1709324116582 0.3191046714782715
240 628.2173749633984 622.1709324116582 0.3199491500854492
241 626.6472340381184 622.1709324116582 0.3186635971069336
242 628.231294945227 622.1709324116582 0.372006893157959
243 626.7377957197464 622.1709324116582 0.40909528732299805
244 626.556931229363 622.1709324116582 0.33820104598999023
245 627.8304281282977 622.1709324116582 0.40016794204711914
246 626.7559526964351 622.1709324116582 0.3214859962463379
247 627.8751330593244 622.1709324116582 0.3607602119445801
248 627.235608923689 622.1709324116582 0.3466660976409912
249 625.6458946370076 622.1709324116582 0.4202146530151367
250 625.4095194691056 622.1709324116582 0.40476489067077637
251 625.9972754264005 622.1709324116582 0.3325650691986084
252 623.2305308864596 622.1709324116582 0.35564184188842773
253 626.7962129868931 622.1709324116582 0.3170037269592285
254 626.2850113295726 622.1709324116582 0.3676187992095947
255 624.775713749279 622.1709324116582 0.31734204292297363
256 626.6958362228041 622.1709324116582 0.32523059844970703
257 624.619480501758 622.1709324116582 0.4389662742614746
258 627.0615032791156 622.1709324116582 0.44616270065307617
259 626.3246009631921 622.1709324116582 0.38649725914001465
260 626.5310470438811 622.1709324116582 0.3740816116333008
261 627.1798169050345 622.1709324116582 0.47756195068359375
262 626.2715696835911 622.1709324116582 0.36042213439941406
263 625.7950601178528 622.1709324116582 0.36754345893859863
264 626.5032839586823 622.1709324116582 0.35848045349121094
265 627.3791468627393 622.1709324116582 0.3299891948699951
266 627.0425313521096 622.1709324116582 0.3859856128692627
267 627.249020828155 622.1709324116582 0.3356304168701172
268 625.2793326489077 622.1709324116582 0.5065371990203857
269 627.68466102145 622.1709324116582 0.3257758617401123
270 625.490660015517 622.1709324116582 0.4205167293548584
271 625.7528171892234 622.1709324116582 0.39411115646362305
272 627.0477688451369 622.1709324116582 0.3296773433685303
273 625.6641043879318 622.1709324116582 0.36780619621276855
274 625.3731391993628 622.1709324116582 0.31763243675231934
275 627.1000966001583 622.1709324116582 0.41460490226745605
276 625.6532154910193 622.1709324116582 0.3911259174346924
277 626.4930603979203 622.1709324116582 0.3897576332092285
278 627.0842819560575 622.1709324116582 0.3521914482116699
279 626.866627508032 622.1709324116582 0.3687300682067871
280 628.3646863270989 622.1709324116582 0.33213162422180176
281 627.2375274830794 622.1709324116582 0.3561890125274658
282 627.3639736770026 622.1709324116582 0.3670365810394287
283 625.8874784791166 622.1709324116582 0.3931896686553955
284 627.7872233894702 622.1709324116582 0.3253321647644043
285 625.7332035451248 622.1709324116582 0.32517051696777344
286 628.4007781087909 622.1709324116582 0.41333651542663574
287 626.5290794881947 622.1709324116582 0.38991332054138184
288 624.1578737802023 622.1709324116582 0.37227439880371094
289 626.3504938756189 622.1709324116582 0.4074678421020508
290 626.6666082055375 622.1709324116582 0.4141712188720703
291 624.3328448453784 622.1709324116582 0.3435025215148926
292 626.9333589827388 622.1709324116582 0.3223154544830322
293 627.4590503062956 622.1709324116582 0.42058300971984863
294 627.592161341863 622.1709324116582 0.3962123394012451
295 626.4944267729752 622.1709324116582 0.40447235107421875
296 626.3378068160009 622.1709324116582 0.33919620513916016
297 628.2864615405964 622.1709324116582 0.3209099769592285
298 627.0103965630282 622.1709324116582 0.36751794815063477
299 627.205175257024 622.1709324116582 0.35745906829833984
300 626.5541466601643 622.1709324116582 0.38047170639038086
301 627.1188361356137 622.1709324116582 0.32465219497680664
302 626.5648557457741 622.1709324116582 0.4210546016693115
303 626.2900537610964 622.1709324116582 0.3262906074523926
304 625.7777754265755 622.1709324116582 0.33420562744140625
305 625.8818486762528 622.1709324116582 0.3325364589691162
306 626.4161684306699 622.1709324116582 0.32686662673950195
307 626.622585237974 622.1709324116582 0.4256927967071533
308 626.5454092003602 622.1709324116582 0.3351020812988281
309 624.1773633870115 622.1709324116582 0.3885467052459717
310 627.1422809008235 622.1709324116582 0.3195950984954834
311 627.6033524504314 622.1709324116582 0.3352036476135254
312 626.4826794609396 622.1709324116582 0.36740851402282715
313 624.6442147001821 622.1709324116582 0.457413911819458
622.1709324116582

119.21984100341797

In [0]:
best_model = best[sorted(best)[0]]

In [0]:
train['neighborhood'] = best_model['labels']

# let's try some other regression techniques

In [0]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet, Lars, LassoLars, OrthogonalMatchingPursuit, BayesianRidge, ARDRegression, SGDRegressor, PassiveAggressiveRegressor, RANSACRegressor, HuberRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import AdaBoostRegressor, ExtraTreesRegressor, RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.base import BaseEstimator
from sklearn.base import ClassifierMixin
from sklearn.base import RegressorMixin
from sklearn.base import is_classifier

In [0]:
def fit_other_models(data, features, target, model):

    reg = model.fit(data[features],target)

    pred = reg.predict(data[features])

    result = get_errors(target, pred)

    return result, pred, model

In [30]:
fit_other_models(train, features_with_geo, train_target, LinearRegression())[0]

{'mae': 622.1709324116582, 'rmse': 1000.2208305314416}

In [31]:
fit_other_models(train, features_with_geo, train_target, HuberRegressor())[0]

{'mae': 595.637220332226, 'rmse': 1045.4883527930576}

In [32]:
fit_other_models(train, features_with_geo, train_target, Ridge())[0]

{'mae': 622.165157963177, 'rmse': 1000.221553139777}

In [33]:
fit_other_models(train, features_with_geo, train_target, RandomForestRegressor(n_estimators=200))[0]

{'mae': 133.15458868509617, 'rmse': 248.171212778433}

In [0]:
linear_regression_model = fit_other_models(train, features_with_geo, train_target, LinearRegression())[2]

In [0]:
forrest_model = fit_other_models(train, features_with_geo, train_target, RandomForestRegressor(n_estimators=200))[2]

# Now run it on the test data

In [36]:
test.columns

Index(['bathrooms', 'bedrooms', 'created', 'description', 'display_address',
       'latitude', 'longitude', 'street_address', 'interest_level', 'elevator',
       'cats_allowed', 'hardwood_floors', 'dogs_allowed', 'doorman',
       'dishwasher', 'no_fee', 'laundry_in_building', 'fitness_center',
       'pre-war', 'laundry_in_unit', 'roof_deck', 'outdoor_space',
       'dining_room', 'high_speed_internet', 'balcony', 'swimming_pool',
       'new_construction', 'terrace', 'exclusive', 'loft', 'garden_patio',
       'wheelchair_access', 'common_outdoor_space'],
      dtype='object')

In [37]:
trained_neighborhood_model = train_neighborhoods_model(train)
add_new_features(test)

You're changing the neighborhood columns by prediction.

       bathrooms  bedrooms  ... description_len neighborhood
0            1.5         3  ...           588.0           26
1            1.0         2  ...             8.0           47
11           1.0         1  ...           690.0           14
14           1.0         1  ...           569.0           36
24           2.0         4  ...           870.0           49
34           1.0         2  ...           445.0           14
39           1.0         0  ...           563.0           33
48           1.0         1  ...            24.0           32
59           1.0         1  ...           189.0           20
82           1.0         0  ...           352.0           36
83           1.0         3  ...           309.0           14
89           1.0         1  ...           712.0           39
131          1.0         2  ...          1851.0           47
135          1.0         3  ...           829.0           39
150          1.0         0  ...           335.0           29
156          1.0         1  ...           791.0           38
165          2.0         3  ...           852.0           33
178          1.0         1  ...           159.0            6
179          1.0         0  ...           454.0           36
202          2.0         3  ...          1127.0           16
235          1.0         0  ...           808.0           31
240          0.0         0  ...             8.0            7
247          1.0         2  ...          1365.0           42
257          1.0         1  ...           318.0           50
272          1.0         2  ...           542.0           34
288          1.0         1  ...          2583.0           44
309          1.0         0  ...           230.0           29
319          1.0         1  ...           599.0           26
320          2.0         3  ...           403.0           41
330          1.0         2  ...           852.0           18
...          ...       ...  ...             ...          ...
49005        1.0         1  ...           974.0           33
49029        2.0         3  ...           955.0           35
49046        1.0         0  ...           953.0           34
49069        2.0         2  ...           914.0           39
49075        1.0         0  ...           151.0           45
49080        1.0         0  ...           569.0           12
49092        1.0         2  ...           623.0           18
49102        1.0         3  ...           249.0           37
49106        1.0         2  ...           435.0           14
49114        3.0         4  ...           606.0           39
49120        1.0         1  ...            67.0           44
49131        1.0         1  ...           783.0           44
49143        1.0         0  ...           328.0           34
49150        1.0         1  ...           905.0           48
49177        1.0         4  ...           408.0           19
49192        1.0         0  ...           352.0           34
49201        1.0         0  ...           396.0           49
49206        1.0         2  ...           787.0           39
49233        1.0         1  ...           714.0           12
49234        1.0         2  ...           295.0            4
49274        1.0         0  ...           482.0           44
49279        1.5         1  ...           493.0           31
49280        1.0         1  ...            65.0           14
49296        1.0         2  ...           305.0           41
49298        1.0         1  ...           147.0           34
49305        1.0         2  ...           382.0           14
49310        1.0         3  ...          2289.0           32
49320        1.0         1  ...           281.0           38
49332        1.0         2  ...           519.0           47
49347        1.0         2  ...           787.0           34

[16973 rows x 43 columns]

In [38]:
get_errors(test_target, linear_regression_model.predict(test[features_with_geo]))

{'mae': 689.8107906345883, 'rmse': 1080.3556261190888}

In [39]:
get_errors(test_target, forrest_model.predict(test[features_with_geo]))

{'mae': 725.6573128390655, 'rmse': 1283.564524299664}

In [0]:
def test_on_models(model):
    reg = model.fit(train[features_with_geo],train_target)
    return get_errors(test_target, reg.predict(test[features_with_geo]))

In [45]:
test_on_models(MLPRegressor(max_iter=840))

{'mae': 625.022064540944, 'rmse': 1005.6002900241914}

In [49]:
test_on_models(ExtraTreesRegressor(n_estimators=200))

{'mae': 562.9199713026946, 'rmse': 974.1549918772384}